html {height: 100%;}
body {
    font-family: "Helvetica Neue",Arial,sans-serif;
    background: #3399FF;
    margin: 0;
    height: 100%;
    min-height: 1600px;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

h1 {
    text-align: center;
    vertical-align:middle;
    line-height: 80px;
    margin: 0;
    color: #3399FF;

}

h2, h3 {
    margin: 0;
    padding: 0;
    color: #FFFFFF;
}

.tail {
    border-radius:3px;
    background: #3399FF;
    background-color: rgba(0,0,0,0.4);
    color: #FFFFFF;
    text-decoration:none;
    padding: 8px;
}
input {
    border-style:none;
    border-radius:5px;
    width: 70px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}
input.text {
    padding: 4px;
    border-radius:1px;
    width: 150px;
}
input.sign {
    background: #fee94f;
    background: -webkit-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
    background: -moz-linear-gradient(top,#fee94f 0,#fd9a0f 100%);
    background: linear-gradient(top,#fee94f 0,#fd9a0f 100%);
    border: 1px solid #fa2;
}
input.login {
    background: #FFFFFF;
    //background: linear-gradient(#33bcef,#019ad2);
    //background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
}

#back {
    /* background: -webkit-radial-gradient(red, green, blue);  Safari
    background: -o-radial-gradient(red, green, blue); For Opera 11.1 to 12.0
    background: -moz-radial-gradient(red, green, blue); For Firefox 3.6 to 15 */
    background: radial-gradient(#8CE2FF 10%, #3399FF 70%); /* Standard syntax (must be last) */
    position: relative; 
    top: 0; 
    left: 0;
    width: 100%;
    min-width: 1100px;
    height:600px;
    text-align:center;
    float: right;
}
#close {
    z-index:0;
}
#close,#mainleft,#maincenter,#mainright {
    position:relative;
    color:#FFFFFF;
    height: 90%;
    float: left;
    width: 100%;
}
#mainleft {
    width: 18%;
}
#maincenter {
    width: 63%;
}
#mainright {
    width: 18%;
    min-width: 200px;
    z-index:1;
    top: 55px;
}

#footer {
    height:100px;
    position: relative;
    top: 20px;
}
#footer-content {
    min-width: 400px;
    width: 100%;
    text-align:center;
    bottom: 0;
}
#loginbox, #logoutbox, #createbox {
    border-radius: 5px;
    border: 2px ;
    padding: 0px;
    background-color: rgba(0,0,0,0.4);
    color: #FFFFFF;
    height: 140px;
    width: 100%;
    min-width: 100px;
    position: relative;
    margin-top: 5px;
    padding-top:5px;
    float: right;
}
#loginbox {
    float: right;
}
#logoutbox {
    top: -50px;
    height: 150px;
    padding-top: 10px;
    position: relative;
}
#logoutS {
    color: #3399FF;
    top: 0px;
    position: relative;
}
#createbox {
    margin-top: 3px;
    height: 220px;
    position: relative;
}


/* --------- BANNER ------- */

.banner-hold {
    width: 100%;
    min-width: 665px;
    height: 50px;
    background: #333;
    background: linear-gradient(top, #484848 50%, #333 100%);
    text-align: center;
    box-shadow: 0px 2px 2px 2px #333;
    float: right;
    position: absolute;
    z-index:1;
}
.banner-logo,.banner-element,.banner-user,.user-options,.user-profile,.dropdown {
    height: 50px;
    color: #FFFFFF;
    float: left;
}
.banner-logo {
    width: 200px;
    float: left;
    text-align: center;
    vertical-align:middle;
    line-height: 50px;
    margin: 0;
}
.banner-element {
    width: 10%;
    min-width:70px;
}
.banner-user {
    width: 15%;
    min-width:250px;
    float:right;
    margin-right: 3px;
}
.user-options, .user-profile {
    float: right;
}
.user-options {
    width: 50px;
}
.user-profile {
    width: 190px;
}
.dropdown-header,.dropdown-element,.dropdown-element-right,.dropdown-header-profile {
    width: 70px;
    text-align: center;
    vertical-align:middle;
    line-height: 50px;
    margin: 0;
}
.dropdown-header-profile {
    width: 190px;
}
.user-profile:hover,.user-options:hover,.feed:hover,.messages:hover,.mapit:hover {
    background: #484848;
}
.dropdown-header {
    height: 50px;
}

a.drop {
    display:none;
}
.dropdown-element {
    float: left
}
.dropdown-element-right{
    float: right
}
.user-profile:hover > .dropdown-element-right {
    display: block;
}
.user-profile:hover > a.drop {
    display: block; 
    height: 50px;
    width: 150px;
    background: #333;
    float: right;
}
.user-options:hover > a.drop {
    display: block; 
    height: 50px;
    width: 150px;
    background: #333;
    float: right;
}
.feed:hover > a.drop {
    display: block; 
    height: 50px;
    width: 150px;
    background: #333;
}
.messages:hover > a.drop {
    display: block; 
    height: 50px;
    width: 150px;
    background: #333;
}
.mapit:hover > a.drop {
    display: block; 
    height: 50px;
    width: 150px;
    background: #333;
}

/* ----------- ----------- */

/* --------- Main Cloud -------- */

#cloud {
	width: 650px; 
    height: 220px;

    background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 200px auto 20px;
}

#cloud:after, #cloud:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

#cloud:after {
	width: 200px; height: 200px;
	top: -90px; left: 80px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#cloud:before {
	width: 360px; height: 360px;
	top: -140px; right: 90px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.shadow {
	width: 550px;
	position: absolute; 
    bottom: -10px; 
	background: #000;
	//z-index: -1;
    left: 50px;
	
	box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0);
}



/* ------------ Cloud a --------------*/



#clouda {
	width: 120px; height: 40px;
	
	background: #f2f9fe;
	background: linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -webkit-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -ms-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(top, #f2f9fe 5%, #d6f0fd 100%);
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	
	position: relative;
	margin: 0px 0px;
    left: 20px;
    top: 90px;
}

#clouda:after, #clouda:before {
	content: '';
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

#clouda:after {
	width: 40px; height: 40px;
	top: -20px; left: 20px;
	
	border-radius: 100px;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
}

#clouda:before {
	width: 55px; height: 55px;
	top: -25px; right: 15px;
	
	border-radius: 200px;
	-webkit-border-radius: 200px;
	-moz-border-radius: 200px;
}

.shadowa {
	width: 90px;
	position: absolute; 
    bottom: -2px; 
	background: #000;
	//z-index: -1;
    left: 20px;
	
	box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 0 0 25px 8px rgba(0, 0, 0);
}
